{% extends 'base.html' %}
{% block head %}
<meta name="description" content="{{ blogBase['title'] }}">
<meta property="og:title" content="{{ blogBase['postTitle'] }}">
<meta property="og:description" content="{{ blogBase['title'] }}">
<meta property="og:type" content="article">
<meta property="og:url" content="{{ blogBase['postUrl'] }}">
<meta property="og:image" content="{{ blogBase['ogImage'] }}">
<meta property="og:site_name" content="{{ blogBase['title'] }}">

<title>{{ blogBase['postTitle'] }}</title>
{% if blogBase['highlight']==1 %}<link href="//unpkg.com/@wooorm/starry-night@2.1.1/style/both.css" rel="stylesheet" />{% endif %}
{% if blogBase['spoiler']==1 %}<link href="../assets/spoiler.css" rel="stylesheet" />{% endif %}
{{ blogBase['head'] }}
{% endblock %}

{% block style %}
<style>
.avatar {transition: 0.8s;width:64px;height:64px;object-fit: cover;cursor: pointer;}
.avatar:hover{transform: scale(1.2) rotate(360deg);}
.title-left{display:flex;flex-direction:row;margin:auto auto 0 0;}
.title-left h1{color:inherit;vertical-align: bottom;font-size:40px;font-weight: bold;font-family:Monaco;margin-left:8px;}
.title-right{display:flex;flex-direction:row;margin:auto 0 0 auto;}
.title-right button{margin-right:8px;padding:16px;}
.title-right .circle{padding: 14px 16px;}
.title-right ul{list-style-type: none;}
.title-right ul li{display: inline;}
    
#postBody{border-bottom: 1px solid var(--color-border-default);padding-bottom:36px;}
#postBody hr{height:2px;}
#cmButton{height:48px;margin-top:48px;}
#comments{margin-top:64px;}
.g-emoji{font-size:24px;}

@media (max-width: 768px) {
    body {margin:0; padding: 8px;}
    header{display:flex;flex-direction:column;margin:auto auto 5px auto;}
    .avatar {width:36px;height:36px;}
    .title-left{display:flex;flex-direction:row;margin:auto 10px;}
    .title-left h1{color:inherit;text-decoration:none;font-size: 20px;font-family:Monaco;padding-left:10px}
    .title-right{display:flex;flex-direction:row;justify-content: space-evenly; margin:auto 0;}
}
{% if blogBase['highlight']!=0 -%}
.copy-feedback {
    display: none;
    position: absolute;
    top: 10px;
    right: 50px;
    color: var(--color-fg-on-emphasis);
    background-color: var(--color-fg-muted);
    border-radius: 3px;
    padding: 5px 8px;
    font-size: 12px;
}{% endif %}
</style>
{{ blogBase['style'] }}

{% endblock %}
{% block header %}
<nav class="title-left">
    <img src="{{ blogBase['avatarUrl'] }}" class="avatar circle" id="avatarImg" alt="avatar">
    <h1 class="postTitle">{{ blogBase['postTitle'] }}</h1>
</nav>
<nav class="title-right">
    <ul>
    <li><a href="{{ blogBase['homeUrl'] }}" id="buttonHome" class="btn btn-invisible circle" title="{{ i18n['home'] }}">
        <svg class="octicon" width="16" height="16"><path id="pathHome" fill-rule="evenodd"></path></svg>
    </a></li>
        
    <li><a href="{{ blogBase['homeUrl'] }}/tag.html" id="buttonSearch" class="btn btn-invisible circle" title="{{ i18n['Search'] }}">
        <svg class="octicon" width="16" height="16" ><path id="pathSearch" fill-rule="evenodd"></path></svg>
    </a></li>
    
    <li><a href="{{ blogBase['homeUrl'] }}/rss.xml" target="_blank" id="buttonRSS" class="btn btn-invisible circle" title="RSS">
        <svg class="octicon" width="16" height="16" ><path id="pathRSS" fill-rule="evenodd"></path></svg>
    </a></li>
        
    {% if blogBase['showPostSource']==1 %}
    <li><a href="{{ blogBase['postSourceUrl'] }}" target="_blank" class="btn btn-invisible circle" title="Issue">
        <svg class="octicon" width="16" height="16"><path id="pathIssue" fill-rule="evenodd"></path></svg>
    </a></li>
    {% endif %}

    <li><a class="btn btn-invisible circle" onclick="modeSwitch();" title="{{ i18n['switchTheme'] }}" {%- if blogBase['themeMode']=='fix' -%}style="display:none;"{%- endif -%}>
        <svg class="octicon" width="16" height="16" ><path id="themeSwitch" fill-rule="evenodd"></path></svg>
    </a></li>
    </ul>
</nav>
{% endblock %}

{% block content %}
<section style="font-size:10px; text-align:right;"><p>created at {{ blogBase['createdAt'] }},updated at {{ blogBase['updatedAt'] }}</p></section>
<section class="markdown-body spoiler" id="postBody">{{ blogBase['postBody'] }}</section>
<section style="font-size:small;margin-top:8px;float:right;">{{ blogBase['bottomText'] }}</section>
{% if blogBase['needComment']==1 %}
<button class="btn btn-block" type="button" onclick="openComments()" id="cmButton">{{ i18n['comments'] }}</button>
<div class="comments" id="comments"></div>
{% endif %}
{% endblock %}

{% block script %}
<script>
document.getElementById("pathSearch").setAttribute("d",IconList["search"]);
document.getElementById("pathHome").setAttribute("d",IconList["home"]);
{% if blogBase['showPostSource']==1 %}document.getElementById("pathIssue").setAttribute("d",IconList["github"]);{% endif %}
{% if blogBase['commentNum']>0 -%}
    cmButton=document.getElementById("cmButton");
    span=document.createElement("span");
    span.setAttribute("class","Counter");
    span.innerHTML="{{ blogBase['commentNum'] }}";
    cmButton.appendChild(span);
    cmButton.style.display="none";
{%- endif %}

{% if blogBase['needComment']==1 %}
//function openComments(){
    cm=document.getElementById("comments");
    cmButton=document.getElementById("cmButton");
    cmButton.innerHTML="loading";
    span=document.createElement("span");
    span.setAttribute("class","AnimatedEllipsis");
    cmButton.appendChild(span);
    cmButton.style.display="none";

    script=document.createElement("script");
    
    //script.setAttribute("src","https://giscus.app/client.js");
    //script.setAttribute("data-repo","{{ blogBase['repoName'] }}");
    //script.setAttribute("data-repo-id","R_kgDOMq37aA");
    //script.setAttribute("data-category","Announcements");
    //script.setAttribute("data-category-id","DIC_kwDOMq37aM4CkJR");
    //script.setAttribute("data-mapping","pathname");
    //script.setAttribute("data-strict","0");
    //script.setAttribute("data-reactions-enabled","1");
    //script.setAttribute("data-emit-metadata","0");
    //script.setAttribute("data-input-position","bottom");
    //script.setAttribute("data-theme","preferred_color_scheme");
    //script.setAttribute("data-lang","zh-CN");
    //script.setAttribute("data-loading","lazy");
    //script.setAttribute("crossorigin","anonymous");
    //script.setAttribute("async","");
    
    script.setAttribute("src","https://utteranc.es/client.js");
    script.setAttribute("repo","{{ blogBase['repoName'] }}");
    script.setAttribute("issue-term","title");
    {% if blogBase['themeMode']=='manual' %}
    if(localStorage.getItem("meek_theme")=="dark"){script.setAttribute("theme","dark-blue");}
    else if(localStorage.getItem("meek_theme")=="light") {script.setAttribute("theme","github-light");}
    else{script.setAttribute("theme","preferred-color-scheme");}
    {% else %}
    script.setAttribute("theme","github-light");
    {% endif %}
    script.setAttribute("crossorigin","anonymous");
    script.setAttribute("async","");
    
    cm.appendChild(script);
    int=self.setInterval("iFrameLoading()",200);
//}

function iFrameLoading(){
    var utterances=document.getElementsByClassName('utteranc');
    if(utterances.length==1){
        //if(utterances[0].style.height!=""){
            utterancesLoad=1;
            int=window.clearInterval(int);
            document.getElementById("cmButton").style.display="none";
            console.log("Comment Load OK");
        //}
    }
}
{%- endif %}

{% if blogBase['highlight']!=0 -%}
document.addEventListener('DOMContentLoaded', () => {
    const createClipboardHTML = (codeContent, additionalClasses = '') => `
        <pre class="notranslate"><code class="notranslate">${codeContent}</code></pre>
        <div class="clipboard-container position-absolute right-0 top-0 ${additionalClasses}">
            <clipboard-copy class="ClipboardButton btn m-2 p-0" role="button" style="display: inherit;">
                <svg height="16" width="16" class="octicon octicon-copy m-2"><path d="${IconList["copy"]}"></path></svg>
                <svg height="16" width="16" class="octicon octicon-check color-fg-success m-2 d-none"><path d="${IconList["check"]}"></path></svg>
            </clipboard-copy>
            <div class="copy-feedback">Copied!</div>
        </div>
    `;

    const handleCodeElements = (selector = '') => {
        document.querySelectorAll(selector).forEach(codeElement => {
            const codeContent = codeElement.innerHTML;
            const newStructure = document.createElement('div');
            newStructure.className = 'snippet-clipboard-content position-relative overflow-auto';
            newStructure.innerHTML = createClipboardHTML(codeContent);

            const parentElement = codeElement.parentElement;
            if (selector.includes('highlight')) {
                parentElement.insertBefore(newStructure, codeElement.nextSibling);
                parentElement.removeChild(codeElement);
            } else {
                parentElement.parentElement.replaceChild(newStructure, parentElement);
            }
        });
    };

    handleCodeElements('pre.notranslate > code.notranslate');
    handleCodeElements('div.highlight > pre.notranslate');

    let currentFeedback = null;
    document.querySelectorAll('clipboard-copy').forEach(copyButton => {
        copyButton.addEventListener('click', () => {
            const codeContent = copyButton.closest('.snippet-clipboard-content').innerText;
            const tempTextArea = document.createElement('textarea');
            tempTextArea.value = codeContent;
            document.body.appendChild(tempTextArea);
            tempTextArea.select();
            document.execCommand('copy');
            document.body.removeChild(tempTextArea);

            const copyIcon = copyButton.querySelector('.octicon-copy');
            const checkIcon = copyButton.querySelector('.octicon-check');
            const copyFeedback = copyButton.nextElementSibling;

            if (currentFeedback && currentFeedback !== copyFeedback) {currentFeedback.style.display = 'none';}
            currentFeedback = copyFeedback;

            copyIcon.classList.add('d-none');
            checkIcon.classList.remove('d-none');
            copyFeedback.style.display = 'block';
            copyButton.style.borderColor = 'var(--color-success-fg)';

            setTimeout(() => {
                copyIcon.classList.remove('d-none');
                checkIcon.classList.add('d-none');
                copyFeedback.style.display = 'none';
                copyButton.style.borderColor = '';
            }, 2000);
        });
    });
});
{%- endif %}

</script>
{{ blogBase['script'] }}
{% endblock %}
